:root {
  --body-background-color: #ededed;
  --body-text-color: #171717;
  --card-background-color: #ffffff;
  --nav-background-color: #242424;
  --nav-border-bottom-color: #0b0b0b;
  --nav-current-border-bottom-color: #DC4405;
  --card-border-color: #e3e3e3;
  --down-border-left-color: #eb3b5a;
  --down-background-color: rgba(235, 59, 81, 0.5);
  --degraded-border-left-color: #f7b731;
  --up-border-left-color: #20bf6b;
  --tag-color: #002b29;
  --tag-up-background-color: #20bf6b;
  --tag-down-background-color: #eb3b5a;
  --tag-degraded-background-color: #f7b731;
  --change-background-color: #f7b731;
  --error-button-border-color: #1a46ad;
  --error-button-background-color: #3867d6;
  --error-button-color: #ffffff;
  --submit-button-border-color: #1a46ad;
  --submit-button-background-color: #3867d6;
  --submit-button-color: #ffffff;
  --graph-opacity: 1;
  --graph-filter: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

nav {
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  color: #999;
  font-weight: 400;
}
